rules_version = '2';
service cloud.firestore {
  function isAuthenticated() { // 条件 1
    return request.auth != null;
  }
  match /databases/{database}/documents {
    // match /test/{testID} {
    //   allow read, write: if true;
    // }
    match /testRef/{uid} {
      allow read: if isAuthenticated() && uid == request.auth.uid;
       
    }
  }
}